# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
/artifacts/
__pycache__/
*.pyc

# Generated desktop folders
windows/flutter/ephemeral/

# IDE
.idea/
.vscode/
*.iml
